<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ihhu.db.mapper.ViewBandForBandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.ihhu.db.entity.ViewBandForBand">
        <result column="bid" property="bid" />
        <result column="bname" property="bname" />
        <result column="bestablish" property="bestablish" />
        <result column="bhead" property="bhead" />
        <result column="cnt" property="cnt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        bid, bname, bestablish, bhead,cnt
    </sql>

    <select id="getBandInfo" resultMap="BaseResultMap">
        select * from view_band_for_band where bid = #{bid} limit 1;
    </select>
</mapper>
