<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ihhu.db.mapper.ViewFanCountForBandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.ihhu.db.entity.ViewFanCountForBand">
        <result column="bid" property="bid" />
        <result column="cnt" property="cnt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        bid, cnt
    </sql>

    <select id="countFanNumber" resultType="java.lang.Integer">
        select cnt from view_fan_count_for_band where bid = #{bid} limit 1;
    </select>

    <select id="countByAge" resultType="top.ihhu.db.model.response.FanCountAgeResp">

    </select>
</mapper>
